# Builds a final release version and pushes to nuget.org 
# whenever a release is published.
# Requires: secrets.NUGET_API_KEY

name: publish
on:
  release:
    types: [prereleased, released]
  workflow_dispatch:
    inputs:
      configuration:
        type: choice
        description: Configuration
        options: 
        - Release
        - Debug
      sha:
        description: 'Optional commit to deploy (latest if empty)'
      version:
        description: 'SemVer version to use (1.0.[build] if empty)'

env:
  DOTNET_NOLOGO: true
  Configuration: ${{ github.event.inputs.configuration || 'Release' }}
  PackOnBuild: true
  GeneratePackageOnBuild: true
  VersionLabel: ${{ github.ref }}
  VersionOrTag: ${{ github.event.inputs.version || github.event.release.tag_name || format('1.0.{0}', github.run_number) }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  MSBUILDTERMINALLOGGER: auto
  SLEET_FEED_URL: https://api.nuget.org/v3/index.json
     
permissions:
  id-token: write
  contents: read

run-name: ${{ github.event.inputs.version || github.event.release.tag_name || format('1.0.{0}', github.run_number) }}

jobs:
  build:
    runs-on: ${{ vars.PUBLISH_AGENT || 'ubuntu-latest' }}
    steps:
      - name: 🤘 checkout
        uses: actions/checkout@v4

      - name: 📝 version
        run: echo "Version=${VersionOrTag/v}" >> $GITHUB_ENV

      - name: ⚙ dotnet
        uses: devlooped/actions-dotnet-env@v1

      - name: 🙏 build
        run: dotnet build -c ${{ env.Configuration }} -bl:build.binlog

      - name: 🐛 logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: logs
          path: '*.binlog'

      - name: ⚙ azurite
        run: |
          npm install azurite
          npx azurite &

      - name: 🧪 test
        run: |
          dotnet tool update -g dotnet-retest
          dotnet retest -- --no-build

      - name: 📦 publish
        working-directory: src/Api
        run: |
          dotnet publish --no-build -c ${{ env.Configuration }} -o ./publish
          chmod 755 ./publish/lib/jq-linux-amd64
          cd ./publish
          zip -r "$GITHUB_WORKSPACE/api.zip" .

      - name: 🌐 upload
        uses: actions/upload-artifact@v4
        with:
          name: api
          path: api.zip

# Azure App registration with federeted credentials and Storage Blob Data Contributor role in target AZURE_BLOB_URL
# See https://learn.microsoft.com/en-us/entra/workload-id/workload-identity-federation-create-trust-user-assigned-managed-identity?pivots=identity-wif-mi-methods-azp#github-actions-deploying-azure-resources

  api:
    needs: build
    runs-on: ${{ vars.PUBLISH_AGENT || 'ubuntu-latest' }}
    steps:
      - name: 🌐 download zip
        uses: actions/download-artifact@v5
        with:
          name: api

      - name: 🔓 azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 🚀 deploy
        run: |
            az functionapp deployment source config-zip \
                --name gropilot \
                --resource-group gropilot \
                --src api.zip